<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <script src="/dark-mode.js"></script>
    <header>
        <nav>
            {{ range $item := .Site.Menus.main }}

            <a class="menu-item" href="{{ $item.URL }}">
                <div><b>{{ $item.Name }}</b></div>
            </a>

            {{ end }}
        </nav>
    </header>
    <div id="darkmode-toggle">Light mode</div>
    <div class="container">
        <main>
            {{ block "main" . }}
            {{ end }}
        </main>
    </div>
</body>

</html>