@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0;
    background-color: #f4f3f1;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

main{
    padding: 1em;
    color:rgb(20, 20, 20);
}

footer {
    background-color: #000078;
    min-height: 1em;
    color: white;
}

header nav {
    display: grid;
}

@media screen and (min-width: 1000px) {
    header nav{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width:700px) and (max-width: 1000px) {
    header nav{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:500px) and (max-width: 700px) {
    header nav{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    header nav{
        grid-template-columns: repeat(1, 1fr);
    }
}

.menu-item{
    margin: 4px; 
    text-align: center;
    background-color: #3434e4;
    color: white;
    height: 3em;
    line-height: 2.7em;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
  }